<footer>
	<div class="wrapper">	
	<section>
		<article>
			<h3>구매</h3>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</article>
		<article>
			<h3>판매</h3>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</article>
	</section>
	<address>Copyright © 1995-2012 sejin Inc. All Rights Reserved. User Agreement and Privacy Policy.</address>
	</div>
</footer>
